{% extends "network/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="text-center m-2">
        <h3><strong>{{username}}</strong></h3>
    </div>

    {% if user.is_authenticated and user.username != username %}
    <div class="m-2 text-center">
        {% if is_following %}
        <a href="{% url 'unfollow' username %}">Unfollow</a>
    {% else %}
        <a href="{% url 'follow' username %}">Follow</a>
    {% endif %} 
    </div>
        
    {% endif %}
    
    <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
            <h4>Followers: {{followers.count}}</h4>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
            <h4>Following: {{following.count}}</h4>
        </div>
    </div>

    {% for post in user_posts %}
        <div class="card m-2 p-4">
            <div class="card-title">
                <a href="{% url 'profile' post.creator %}">
                    <h5><strong>{{post.creator}}</strong></h5>
                </a>
            </div>
            {% if post.creator.id == user.id %}
            <div>
                Edit post
            </div>
            {% endif %}
            <div class="card-text">
                    <p>{{post.content}}</p>
                    <p class="text-secondary">{{post.timestamp}}</p>
                    <p>Likes: {{post.likes.count}}</p>
                    
                
            </div>
            
        </div>
        {% endfor %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}